fastapi>=0.100.0
uvicorn[standard]>=0.22.0
gunicorn==21.2.0
python-multipart
pydantic==2.6.1
pydantic-settings
sqlalchemy==2.0.29
pymysql==1.1.0
passlib[bcrypt]
python-jose[cryptography]
pyjwt==2.8.0
yfinance
finance-datareader
pandas==2.1.4
yahoo_fin
requests_html
beautifulsoup4
pandas-datareader
lxml_html_clean
requests
pyyaml==6.0.2
openai
chromadb
